{% extends "dashboard/base.html" %} {% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <form class="needs-validation">
                <div class="form-group row">
                  <label for="validationCustom0" class="col-xl-3 col-md-4"
                    ><span>*</span>نام منو
                  </label>
                  <div class="col-md-8">
                    <input
                      class="form-control"
                      id="validationCustom0"
                      type="text"
                      required=""
                    />
                  </div>
                </div>
                <button type="button" class="btn btn-primary d-block">
                  ذخیره
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock content %}
