
{% extends "base.html" %} {% load static %}{% load crispy_forms_tags %} {% block content %}


<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    {% if type_content_name %}
                    <h2>{{ type_content_name }}</h2>
                    {% else %}
                         لیست ها محتوا
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'order:order_home' %}">خانه</a></li>
                        <li class="breadcrumb-item active">
                            {% if type_content_name %}
                                {{ type_content_name }}
                            {% else %}
                                لیست ها محتوا
                            {% endif %}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


<!-- This -->
<div class="container" id="order">
    <div class="banner-padding banner-furniture ratio2_1">
      <div class="col-sm-12">
        <div class="title2">
          <h2 class="title-inner2">ثبت درخواست</h2>
        </div>
        <form class="theme-form" action="">
            {% csrf_token %}
            <div class="form-row row">
            {% for field in form %}
                {% if field.name != 'status' %}
                <div class="col-md-4">{{ field|as_crispy_field  }}</div>
                {% endif %}
            {% endfor %}
            <div class="col-md-12">
            <button type="button" class="btn btn-solid" ng-click="SubmitOrder()">ثبت</button>
            </div>
        </form>
    </div>
</div>
</div>        


<section class="section-b-space blog-detail-page review-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="comment-section">
                {% for content in contents %}
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h1 style="font-size: 30px;font-family: IRANSans;">{{content.title}} <span></span></h1>
                                <p style="font-family: IRANSans;">{{content.body |safe}}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>



{% endblock content %}

{% block Scripts %}
    {% if messages %}
        {% for item in messages %}
            <script>
                Swal.fire({
                    title: "تبریک ! 🥳",
                    icon: 'success',
                    text: '{{ item }}',
                    type: "success",
                    cancelButtonColor: 'var(--primary)',
                    confirmButtonText: 'اوکی',
                })
            </script>
        {% endfor %}
    {% endif %}


    <script src="{% static 'js/jquery.toast.min.js' %}"></script>
    <script src="{% static 'js/helpers.js' %}"></script>
    
    <script>
        var app = angular.module("myApp", []);
        app.config(function ($interpolateProvider, $httpProvider) {
            $interpolateProvider.startSymbol('[[');
            $interpolateProvider.endSymbol(']]');
    
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        });
    </script>
    
    <script>
        app.controller('myCtrl', function ($scope, $http) {
                $scope.id = null;
                $scope.data = {};
                $scope.is_submited = false;
    
                $scope.SubmitOrder = function () {
                    {% for field in form %}
                        {% if field.name != 'status' %}
                            if (!$scope.data['{{ field.name }}']) {
                                createToast('error', 'لطفا همه مقادیر را وارد کنید.');
                                return;
                            }
                        {% endif %}
                    {% endfor %}
    
                    $scope.is_submited = true;
    
                    $http.post(`/api/order/`, $scope.data).then(res => {
                        createToast('success', 'کاربر گرامی درخواست شما با موفقیت ثبت شد و همکاران ما تا ساعاتی دیگر با شما تماس خواهند گرفت. برای مشاهده سفارشات خود ثبت نام بکنید.');
                        $scope.is_submited = false;
                        $scope.data = {};
                    }).catch(err => {
                            $scope.loading = false;
    
                            if (err.data['phone_number']) {
                                createToast('error', err.data['phone_number'][0]);
                                return;
                            }
    
                            parseError(err, 'خطایی رخ داد');
                        }
                    )
                    ;
                }
            }
        )
        ;
    </script>

{% endblock %}