
{% extends "base.html" %} {% load static %}{% load crispy_forms_tags %} {% block content %}


<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    {% if type_content_name %}
                    <h2>{{ type_content_name }}</h2>
                    {% else %}
                         لیست ها محتوا
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'order:order_home' %}">خانه</a></li>
                        <li class="breadcrumb-item active">
                            {% if type_content_name %}
                                {{ type_content_name }}
                            {% else %}
                                لیست ها محتوا
                            {% endif %}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>



<section class="section-b-space blog-page ratio2_3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% for content in contents %}
                <div class="row blog-media">
                    <div class="col-xl-6">
                        <div class="blog-left">
                            <a href="{% url 'content:home_detail_content' content.id content.slug %}" class="bg-size blur-up lazyloaded" style="background-image: url(&quot;{{content.thumnail.url}}&quot;); background-size: cover; background-position: center center; display: block;"><img src="{{content.thumnail.url}}" class="img-fluid blur-up bg-img lazyloaded" alt="" style="display: none;"></a>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="blog-right">
                            <div>
                                <h6>{{content.jcreated}}</h6> <a href="{% url 'content:home_detail_content' content.id content.slug %}">
                                    <h4 class="">{{content.title}}</h4>
                                </a>
                                <p>{{content.body | truncatewords:50}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block Scripts %}
    {% if messages %}
        {% for item in messages %}
            <script>
                Swal.fire({
                    title: "تبریک ! 🥳",
                    icon: 'success',
                    text: '{{ item }}',
                    type: "success",
                    cancelButtonColor: 'var(--primary)',
                    confirmButtonText: 'اوکی',
                })
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}