{% extends "base.html" %} {% load static %}{% load crispy_forms_tags %} 
{% block Styles %}

<style></style>

{% endblock %} {% block content %}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>سوالات متداول </h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">سوالات متداول </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="faq-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="accordion theme-accordion" id="accordionExample">
                    {% for faq in faqs %}
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0"><button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">{{faq.title}}</button></h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                            <div class="card-body">
                                <p>{{faq.body}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %} {% block Scripts %}


{% if messages %} {% for item in messages %}
<script>
  Swal.fire({
    title: "تبریک ! 🥳",
    icon: "success",
    text: "{{ item }}",
    type: "success",
    cancelButtonColor: "var(--primary)",
    confirmButtonText: "اوکی",
  });
</script>
{% endfor %} {% endif %} {% endblock %}
