{% extends 'base.html' %}
{% load public_tags static %}

{% block title %}تایید کد{% endblock %}

{% block Styles %}
    <style>
        .remove_margin {
        {% if form.errors %}
            margin-bottom: 0 !important;
        {% endif %}
        }
    </style>
{% endblock %}

{% block content %}

    <!-- breadcrumb start -->
    <div class="breadcrumb-section" ng-init="init()">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>تایید کد</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'order:order_home' %}">خانه</a></li>
                            <li class="breadcrumb-item active">تایید کد</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!--section start-->
    <section class="login-page section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3>تایید کد </h3>
                    <div class="theme-card">

                        {% if messages %}
                            {% for item in messages %}
                                <p class="text-center justify-content-center text-success"><small
                                        style="font-size: 18px" style="font-size: 14px">{{ item }}</small></p>
                            {% endfor %}
                        {% endif %}

                        {% if form.non_field_errors %}
                            {% for item in form.non_field_errors %}
                                <p class="text-center justify-content-center text-danger"><small
                                        style="font-size: 18px" style="font-size: 14px">{{ item|safe }}</small></p>

                            {% endfor %}
                        {% endif %}

                        <form class="theme-form" method="post" id="frm">
                            {% csrf_token %}

                            <input type="hidden" name="phone_number" value="{{ request.session.verify_phone_number }}">

                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                    <label for="id_{{ field.name }}">{{ field.label }}</label>

                                    {{ field | addclass:'form-control remove_margin' }}
                                    {% if field.errors %}
                                        <p class="text-danger">{{ field.errors.0|escape }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}

                            <a onclick="$('#frm').submit()" class="btn btn-solid">تایید</a>
                            <a ng-click="SendNewCode()" class="btn btn-solid mr-5"
                               style="margin-right: 10px !important;">ارسال مجدد</a>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 right-login">
                    <h3>ورود به سایت</h3>
                    <div class="theme-card authentication-right">
                        <h6 class="title-font">ورود به سایت </h6>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز</p><a href="{% url 'login' %}" class="btn btn-solid">ورود </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->

{% endblock %}

{% block Scripts %}
    <script>
        app.controller('myCtrl', function ($scope, $http) {
            $scope.phone = null;

            $scope.init = function () {
                $scope.phone = '{{ request.session.verify_phone_number }}'
            }

            $scope.SendNewCode = function () {
                $http.post(`/api/auth/code/send/`, {'phone_number': $scope.phone}).then(res => {
                    createToast('success', res.data['message']);
                }).catch(err => {
                    parseError(err, 'خطایی رخ داد. لطفا دوباره امتحان کنید');
                });
            }
        });
    </script>
{% endblock %}