{% extends "base.html" %} {% load static %} {% block content %}

<!-- Home slider -->
<section class="pt-0">
  <div class="container-lg container">
    <div class="full-banner custom-space p-right text-end">
      <img
        src="{% static 'images/fashion/bottom-banner.jpg' %}"
        alt=""
        class="bg-img blur-up lazyload"
      />
      <div class="container">
        <div class="row">
          <div class="col-lg-11">
            <div class="banner-contain custom-size">
              <h2>2022</h2>
              <h3>مد های روز</h3>
              <h4>پیشنهاد ویژه</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Home slider end -->

<div class="container">
  <div class="banner-padding banner-furniture ratio2_1">
    <div class="col-sm-12">
      <div class="title2">
        <h2 class="title-inner2">ثبت درخواست</h2>
      </div>
      <form class="theme-form">
        <div class="form-row row">
          <div class="col-md-4">
            <label for="name">نام</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="نام خود را وارد کنید "
              required=""
            />
          </div>
          <div class="col-md-4">
            <label for="email">ایمیل</label>
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="ایمیل"
              required=""
            />
          </div>
          <div class="col-md-4">
            <label for="email">ایمیل</label>
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="ایمیل"
              required=""
            />
          </div>
          <div class="col-md-12">
            <label for="exampleFormControlTextarea1">نظر</label>
            <textarea
              class="form-control"
              placeholder="نظر خود را بنویسید"
              id="exampleFormControlTextarea1"
              rows="6"
            ></textarea>
          </div>
          <div class="col-md-12 p-3">
            <button class="btn btn-solid" type="submit">ثبت درخواست</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- instagram section -->
<section class="instagram ratio_square">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 p-0">
        <h2 class="title-borderless"># اینستاگرام</h2>
        <div class="slide-7 no-arrow slick-instagram">
          <div>
            <a href="#">
              <div class="instagram-box">
                <img
                  alt=""
                  src="images/slider/2.jpg"
                  class="bg-img"
                  style="width: 100%"
                />
                <div class="overlay"><i class="fa fa-instagram"></i></div>
              </div>
            </a>
          </div>
          <div>
            <a href="#">
              <div class="instagram-box">
                <img
                  alt=""
                  src="images/slider/3.jpg"
                  class="bg-img"
                  style="width: 100%"
                />
                <div class="overlay"><i class="fa fa-instagram"></i></div>
              </div>
            </a>
          </div>
          <div>
            <a href="#">
              <div class="instagram-box">
                <img
                  alt=""
                  src="images/slider/4.jpg"
                  class="bg-img"
                  style="width: 100%"
                />
                <div class="overlay"><i class="fa fa-instagram"></i></div>
              </div>
            </a>
          </div>
          <div>
            <a href="#">
              <div class="instagram-box">
                <img
                  alt=""
                  src="images/slider/9.jpg"
                  class="bg-img"
                  style="width: 100%"
                />
                <div class="overlay"><i class="fa fa-instagram"></i></div>
              </div>
            </a>
          </div>
          <div>
            <a href="#">
              <div class="instagram-box">
                <img
                  alt=""
                  src="images/slider/6.jpg"
                  class="bg-img"
                  style="width: 100%"
                />
                <div class="overlay"><i class="fa fa-instagram"></i></div>
              </div>
            </a>
          </div>
          <div>
            <a href="#">
              <div class="instagram-box">
                <img
                  alt=""
                  src="images/slider/7.jpg"
                  class="bg-img"
                  style="width: 100%"
                />
                <div class="overlay"><i class="fa fa-instagram"></i></div>
              </div>
            </a>
          </div>
          <div>
            <a href="#">
              <div class="instagram-box">
                <img
                  alt=""
                  src="images/slider/8.jpg"
                  class="bg-img"
                  style="width: 100%"
                />
                <div class="overlay"><i class="fa fa-instagram"></i></div>
              </div>
            </a>
          </div>
          <div>
            <a href="#">
              <div class="instagram-box">
                <img
                  alt=""
                  src="images/slider/9.jpg"
                  class="bg-img"
                  style="width: 100%"
                />
                <div class="overlay"><i class="fa fa-instagram"></i></div>
              </div>
            </a>
          </div>
          <div>
            <a href="#">
              <div class="instagram-box">
                <img
                  alt=""
                  src="images/slider/2.jpg"
                  class="bg-img"
                  style="width: 100%"
                />
                <div class="overlay"><i class="fa fa-instagram"></i></div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- instagram section end -->
{% endblock content %}
