{% extends "base.html" %} {% load static %}{% load crispy_forms_tags %} 
{% block content %}

<!-- Home slider -->

<section class="p-5 w-5">
  <div class="slide-1 home-slider">
    <div>
      <div class="home text-center">
        <img
          src="{% static 'img/p-1.jpg' %}"
          alt=""
          class="bg-img blur-up lazyload"
        />
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="slider-contain">
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="home text-center">
        <img
          src="{% static 'img/p-3.jpg' %}"
          alt=""
          class="bg-img blur-up lazyload"
        />
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="slider-contain">
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="home text-center">
        <img
          src="{% static 'img/p-2.jpg' %}"
          alt=""
          class="bg-img blur-up lazyload"
        />
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="slider-contain">
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Home slider end -->

<div class="container" id="order">
  <div class="banner-padding banner-furniture ratio2_1">
    <div class="col-sm-12">
      <div class="title2">
        <h2 class="title-inner2">ثبت درخواست</h2>
      </div>
      <form class="theme-form" action="" method="post">
        {% csrf_token %}

        <div class="form-row row">
          <div class="col-md-4">{{ form.type_window|as_crispy_field }}</div>
          <div class="col-md-4">{{ form.type_project|as_crispy_field }}</div>
          <div class="col-md-4">{{ form.number|as_crispy_field }}</div>
          <div class="col-md-4">{{ form.phone_number|as_crispy_field }}</div>
          <div class="col-md-4">{{ form.full_name|as_crispy_field }}</div>
          <div class="col-md-4">{{ form.citys|as_crispy_field }}</div>

          <div class="col-md-12">
            <button class="btn btn-solid" type="submit">ثبت درخواست</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<section class="banner-goggles banner-padding ratio2_1">
  <div class="container container-lg">
    <div class="row partition3">
      <div class="col-md-3">
        <a href="#">
          <div class="collection-banner p-right text-end">
            <div class="img-part">
              <img
                src="{% static 'img/Untitled-1.jpg' %}"
                class="img-fluid blur-up lazyload bg-img"
                alt=""
              />
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#">
          <div class="collection-banner p-right text-end">
            <div class="img-part">
              <img
                src="{% static 'img/Untitled-5.jpg' %}"
                class="img-fluid blur-up lazyload bg-img"
                alt=""
              />
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#">
          <div class="collection-banner p-right text-end">
            <div class="img-part">
              <img
                src="{% static 'img/Untitled-8.jpg' %}"
                class="img-fluid blur-up lazyload bg-img"
                alt=""
              />
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#">
          <div class="collection-banner p-right text-end">
            <div class="img-part">
              <img
                src="{% static 'img/Untitled-12.jpg' %}"
                class="img-fluid blur-up lazyload bg-img"
                alt=""
              />
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock content %} {% block Scripts %}
<script>
  $("#id_city").select2();
</script>

 {% if messages %} {% for item in messages %}
<script>
  Swal.fire({
    title: "تبریک ! 🥳",
    icon: "success",
    text: "{{ item }}",
    type: "success",
    cancelButtonColor: "var(--primary)",
    confirmButtonText: "اوکی",
  });
</script>
{% endfor %} {% endif %} {% endblock %}
