{% extends "base.html" %} {% load static %}{% load crispy_forms_tags %}  {% block content %}

<!-- Home slider -->

<section class="p-5 w-5">
    <div class="slide-1 home-slider">
        <div>
            <div class="home text-center">
                <img src="{% static 'photo4145346892.jpg' %}" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h1 style="color: white;">آلومینیوم ترمال
                                        بریک
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="home text-center">
                <img src="{% static 'photo4145344955.jpg' %}" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h1 style="color: white;">UPVC </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home slider end -->

<div class="container">
    <div class="banner-padding banner-furniture ratio2_1">
        <div class="col-sm-12">
            <div class="title2">
                <h2 class="title-inner2">ثبت درخواست</h2>
            </div>
            <form class="theme-form" action="" method="post">
                {% csrf_token %}

                <div class="form-row row">
                    <div class="col-md-4">{{ form.type_window|as_crispy_field }}</div>
                    <div class="col-md-4">{{ form.type_project|as_crispy_field }}</div>
                    <div class="col-md-4">{{ form.number|as_crispy_field }}</div>
                    <div class="col-md-4">{{ form.phone_number|as_crispy_field }}</div>
                    <div class="col-md-4">{{ form.full_name|as_crispy_field }}</div>
                    <div class="col-md-4">{{ form.citys|as_crispy_field }}</div>

                    <div class="col-md-12">
                        <button class="btn btn-solid" type="submit">ثبت درخواست</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<section class="banner-goggles banner-padding ratio2_1">
    <div class="container container-lg">
        <div class="row partition3">
            <div class="col-md-3">
                <a href="#">
                    <div class="collection-banner p-right text-end">
                        <div class="img-part">
                            <img
                                    src="{% static 'images/fashion/banner/38.jpg' %}"
                                    class="img-fluid blur-up lazyload bg-img"
                                    alt=""
                            />
                        </div>
                        <div class="contain-banner banner-3">
                            <div>
                                <h4>50 درصد تخفیف</h4>
                                <h2>speaker</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <div class="collection-banner p-right text-end">
                        <div class="img-part">
                            <img
                                    src="{% static 'images/fashion/banner/39.jpg' %}"
                                    class="img-fluid blur-up lazyload bg-img"
                                    alt=""
                            />
                        </div>
                        <div class="contain-banner banner-3">
                            <div>
                                <h4>50 درصد تخفیف</h4>
                                <h2>earplug</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <div class="collection-banner p-right text-end">
                        <div class="img-part">
                            <img
                                    src="{% static 'images/fashion/banner/40.jpg' %}"
                                    class="img-fluid blur-up lazyload bg-img"
                                    alt=""
                            />
                        </div>
                        <div class="contain-banner banner-3">
                            <div>
                                <h4>50 درصد تخفیف</h4>
                                <h2>best deal</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <div class="collection-banner p-right text-end">
                        <div class="img-part">
                            <img
                                    src="{% static 'images/fashion/banner/40.jpg' %}"
                                    class="img-fluid blur-up lazyload bg-img"
                                    alt=""
                            />
                        </div>
                        <div class="contain-banner banner-3">
                            <div>
                                <h4>50 درصد تخفیف</h4>
                                <h2>best deal</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- instagram section -->
<section class="instagram ratio_square">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <h2 class="title-borderless"># اینستاگرام</h2>
                <div class="slide-7 no-arrow slick-instagram">
                    <div>
                        <a href="#">
                            <div class="instagram-box">
                                <img
                                        alt=""
                                        src="images/slider/2.jpg"
                                        class="bg-img"
                                        style="width: 100%"
                                />
                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="instagram-box">
                                <img
                                        alt=""
                                        src="images/slider/3.jpg"
                                        class="bg-img"
                                        style="width: 100%"
                                />
                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="instagram-box">
                                <img
                                        alt=""
                                        src="images/slider/4.jpg"
                                        class="bg-img"
                                        style="width: 100%"
                                />
                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="instagram-box">
                                <img
                                        alt=""
                                        src="images/slider/9.jpg"
                                        class="bg-img"
                                        style="width: 100%"
                                />
                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="instagram-box">
                                <img
                                        alt=""
                                        src="images/slider/6.jpg"
                                        class="bg-img"
                                        style="width: 100%"
                                />
                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="instagram-box">
                                <img
                                        alt=""
                                        src="images/slider/7.jpg"
                                        class="bg-img"
                                        style="width: 100%"
                                />
                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="instagram-box">
                                <img
                                        alt=""
                                        src="images/slider/8.jpg"
                                        class="bg-img"
                                        style="width: 100%"
                                />
                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="instagram-box">
                                <img
                                        alt=""
                                        src="images/slider/9.jpg"
                                        class="bg-img"
                                        style="width: 100%"
                                />
                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="instagram-box">
                                <img
                                        alt=""
                                        src="images/slider/2.jpg"
                                        class="bg-img"
                                        style="width: 100%"
                                />
                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- instagram section end -->
{% endblock content %} {% block Scripts %}
<script>
  $("#id_city").select2();



</script>

{% comment %} {#
<script
        type="text/javascript"
        src="https://cdn.map.ir/web-sdk/1.4.2/js/jquery-3.2.1.min.js"
></script>
#} {#
<script
        type="text/javascript"
        src="https://cdn.map.ir/web-sdk/1.4.2/js/mapp.env.js"
></script>
#} {#
<script
        type="text/javascript"
        src="https://cdn.map.ir/web-sdk/1.4.2/js/mapp.min.js"
></script>
#} {#
<script> {% endcomment %}
  {% comment %} #} {% endcomment %}
      {##}
      {#        $(document).ready(function () {#}
      {#            var app = new Mapp({#}
      {#                element: '#app',#}
      {#                presets: {#}
      {#                    latlng: {#}
      {#                        {% if form.lat.value %}#}
      {#                            lat: '{{ form.lat.value }}',#}
      {#                        {% else %}#}
      {#                            lat: 35.73249,#}
      {#                        {% endif %}#}
      {##}
      {#                        {% if form.long.value %}#}
      {#                            lng: '{{ form.long.value }}',#}
      {#                        {% else %}#}
      {#                            lng: 51.42268#}
      {#                        {% endif %}#}
      {#                    },#}
      {##}
      {#                    {% if form.lat.value and form.long.value %}#}
      {#                        zoom: 16#}
      {#                    {% else %}#}
      {#                        zoom: 7#}
      {#                    {% endif %}#}
      {#                },#}
      {#                apiKey: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjhiN2EwNjYwODY2YTMxZDAyNTA5NmZiYmIzZGVhZDQ4NDg4Y2VjYjQ0YTM5NTQxNzE3OTk4YjVjMTI1MGZjMDUxYjIxYmFmNDJkYjA2ZDMyIn0.eyJhdWQiOiIyMTQ5MSIsImp0aSI6IjhiN2EwNjYwODY2YTMxZDAyNTA5NmZiYmIzZGVhZDQ4NDg4Y2VjYjQ0YTM5NTQxNzE3OTk4YjVjMTI1MGZjMDUxYjIxYmFmNDJkYjA2ZDMyIiwiaWF0IjoxNjc4NzQ5OTY0LCJuYmYiOjE2Nzg3NDk5NjQsImV4cCI6MTY4MTE2OTE2NCwic3ViIjoiIiwic2NvcGVzIjpbImJhc2ljIl19.AobDdWKizuV0DAL8IFyUb8jLBrx8AzVu21HEOxAUTD8WhMZ-riaPX53e6_A7oj1NbwCBpTc8Jm3w2QAsYsTae2lCDoZB05X2pEcjoAYXpzRV2z-tBLgwairxtJunrKDSjKTIg9LpGzFu93xBQGmUnOfOho-Se4s_vIdUlrl19tdEPaKO763sHFQPnqf4Fbwh-L_ARuKaUV8j8aseg9n-vGbQ4w5juRbtMeNMm9adtt1ZVGWGUOJAHUD83IM4-FCiA7-P3Xincar-BXTY0PN1EK9Yvhn7akGQRudPYBsnU5NGe8ABmAFfXzdMwbSWnx1YO8fSfTmiQc2tHAqf1JmiIg'#}
      {#            });#}
      {#            app.addLayers();#}
      {##}
      {#            // Show selected location as a marker#}
      {#            {% if form.lat.value and form.long.value %}#}
      {#                ShowMarker(app, '{{ form.lat.value }}', '{{ form.long.value }}');#}
      {#            {% endif %}#}
      {##}
      {#            // Implement location picker#}
      {#            app.map.on('click', function (e) {#}
      {#                // آدرس یابی و نمایش نتیجه در یک باکس مشخص#}
      {#                ShowMarker(app, e.latlng.lat, e.latlng.lng);#}
      {##}
      {#                $('#id_lat').val(e.latlng.lat);#}
      {#                $('#id_long').val(e.latlng.lng);#}
      {##}
      {#                // برای سفارشی سازی نمایش نتیجه به جای متد بالا از متد زیر میتوان استفاده کرد#}
      {#            });#}
      {#        });#}
      {##}
      {#        function ShowMarker(app, lat, long) {#}
      {#            app.showReverseGeocode({#}
      {#                state: {#}
      {#                    latlng: {#}
      {#                        lat: lat,#}
      {#                        lng: long,#}
      {#                    },#}
      {#                    zoom: 16#}
      {#                }#}
      {#            });#}
      {##}
      {#            app.addMarker({#}
      {#                name: 'advanced-marker',#}
      {#                latlng: {#}
      {#                    lat: lat,#}
      {#                    lng: long,#}
      {#                },#}
      {#                icon: app.icons.red,#}
      {#                popup: false#}
      {#            });#}
      {#        }#}
      {##}
      {#


</script>#}
{% if messages %} {% for item in messages %}
<script>
  Swal.fire({
    title: "تبریک ! 🥳",
    icon: "success",
    text: "{{ item }}",
    type: "success",
    cancelButtonColor: "var(--primary)",
    confirmButtonText: "اوکی",
  });



</script>
{% endfor %} {% endif %} {% endblock %}
