{% extends "dashboard/base.html" %} {% block content %}
    <div class="page-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-left">
                            <h3>
                                داشبورد
                                <small>پنل مدیریت آذین وین</small>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ol class="breadcrumb pull-right">
                            <li class="breadcrumb-item">
                                <a href="/dashboard/">
                                    <i data-feather="home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active">داشبورد</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->

        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 xl-100">
                    <div class="card">
                        <div class="card-header">
                            <h5>آخرین سفارشات</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="icofont icofont-simple-left"></i></li>
                                    <li><i class="view-html fa fa-code"></i></li>
                                    <li><i class="icofont icofont-maximize full-card"></i></li>
                                    <li><i class="icofont icofont-minus minimize-card"></i></li>
                                    <li><i class="icofont icofont-refresh reload-card"></i></li>
                                    <li><i class="icofont icofont-error close-card"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="user-status table-responsive latest-order-table">
                                <table class="table table-bordernone">
                                    <thead>
                                    <tr>
                                        <th scope="col">شناسه درخواست</th>
                                        <th scope="col">نوع پنجره</th>
                                        <th scope="col">نوع پروژه</th>
                                        <th scope="col">شماره تماس</th>
                                        <th scope="col">نام و نام خانوادگی</th>
                                        <th scope="col">تاریخ ثبت</th>
                                        <th scope="col">وضعیت</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in orders %}
                                        <tr>
                                            <td>{{ order.id }}</td>
                                            <td class="digits">{{ order.type_window }}</td>
                                            <td class="digits">{{ order.get_type_project }}</td>
                                            <td class="digits">{{ order.phone_number }}</td>
                                            <td class="digits">{{ order.full_name }}</td>
                                            <td class="digits">{{ order.jcreated }}</td>
                                            {% if order.status == 'A' %}
                                                <td class="order-success">
                                                    <span>{{ order.get_status | default:'---' }}</span>
                                                </td>
                                            {% else %}
                                                <td class="order-cancle">
                                                    <span>{{ order.get_status | default:'---' }}</span>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <a href="{% url 'order:dashboard_order_list' %}" class="btn btn-primary mt-4"
                                >مشاهده همه سفارشات</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if request.user.is_admin %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 xl-100">
                        <div class="card">
                            <div class="card-header">
                                <h5>آخرین محتوا</h5>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li><i class="icofont icofont-simple-left"></i></li>
                                        <li><i class="view-html fa fa-code"></i></li>
                                        <li><i class="icofont icofont-maximize full-card"></i></li>
                                        <li><i class="icofont icofont-minus minimize-card"></i></li>
                                        <li><i class="icofont icofont-refresh reload-card"></i></li>
                                        <li><i class="icofont icofont-error close-card"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="user-status table-responsive latest-order-table">
                                    <table class="table table-bordernone">
                                        <thead>
                                        <tr>
                                            <th scope="col">شناسه محتوا</th>
                                            <th scope="col">نوع محتوا</th>
                                            <th scope="col">عنوان</th>
                                            <th scope="col">ادرس</th>
                                            <th scope="col">تاریخ ثبت</th>
                                            <th scope="col">وضعیت</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for content in contents %}
                                            <tr>
                                                <td>{{ content.id }}</td>
                                                <td class="digits">{{ content.get_type_content | default:'---' }}</td>
                                                <td class="digits">{{ content.title }}</td>
                                                <td class="digits">{{ content.slug }}</td>
                                                <td class="digits">{{ content.jcreated }}</td>
                                                <td class="digits">{{ content.get_status | default:'---' }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <a href="{% url 'content:list_content' %}" class="btn btn-primary mt-4"
                                    >مشاهده همه محتوا</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
