{% load static %}
<footer class="footer-light">
  <section class="section-b-space light-layout">
    <div class="container">
      <div class="row footer-theme partition-f">
        <div class="col-lg-4 col-md-6">
          <div class="footer-title footer-mobile-title">
            <h4>مشخصات</h4>
          </div>
          <div class="footer-contant">
            <div class="footer-logo">
              <img src="{% static 'img/zeynb.png' %}" alt="" style="height: 44px;" />
            </div>
            <p>تولید کننده انواع درب و پنجره ترمال بریک و یو پی وی سی و شیشه های دوجداره</p>
            <div class="footer-social">
              <ul>
                <li>
                  <a href="https://t.me/@Azinwindoww"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://wa.link/mu6gx7"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="tel:09002221727"><i class="fa fa-phone" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col offset-xl-1">
          <div class="sub-title">
            <div class="footer-title">
              <h4>لینک اسان</h4>
            </div>
            <div class="footer-contant">
              <ul>
                <li>
                  <a href="{% url 'order:order_home' %}">خانه</a>
                </li>
                <li>
                  <a href="{% url 'order:order_home' %}">ثبت درخواست</a>
                </li>
                <li>
                  <a href="{% url 'content:home_upvc' %}?type_content=A">یو پی وی سی</a>
                </li>
                <li>
                  <a href="{% url 'content:home_termal' %}?type_content=B">آلومینیوم ترمال بریک</a>
                </li>
                <li>
                  <a href="{% url 'content:home_nama' %}?type_content=C">شیشه نما</a>
                </li>
                <li>
                  <a href="{% url 'faq:faq_page' %}">سوالات متداول</a>
                </li>
                <li>
                  <a href="{% url 'top_projects:home_list_top_projects' %}">پروژه برتر</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="sub-title">
            <div class="footer-title">
              <h4>ارتباط</h4>
            </div>
            <div class="footer-contant">
              <ul>
                <li>
                  <a href="{% url 'about_us:about_us' %}">درباره ما</a>
                </li>
                <li>
                  <a href="{% url 'contact_us:contact_us' %}">تماس با ما</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="sub-title">
            <div class="footer-title">
              <h4>اطلاعات</h4>
            </div>
            <div class="footer-contant">
              <ul class="contact-list">
                <li>
                  <i class="fa fa-map-marker"></i>
                  آدرس: تهران - جاده قدیم قم - منطقه صنعتی شور آباد - بلوار ۶۰ متری امام حسین (ع) - خیابان صنعت ششم (سوم جنوبی) - پلاک ۴۶
                </li>
                <li>
                  <i class="fa fa-phone"></i>تماس با ما : 09002221727
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-md-6 col-sm-12">
          <div class="footer-end">
            <p>
              <i class="" aria-hidden="true"></i> تمامی حقوق این وب سایت محفوظ و متعلق به شرکت آذین وین می باشد
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
